/* src/styles/styles.scss */

$primary-color: #FBFCFD;
$header-color: #2C384A;
$text-color: #4B5665;
$header-text: #D1D6DA;
$medium-font: 14px;
$large-font: 16px;
$medium-line-height: 20px;
$large-line-height: 22.8px;


$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-lg-2: 1024px;
$breakpoint-xl: 1200px;

.base-dashboard {
  &__element {
    width: 1024px;
    margin: 0 auto;

    &__h1 {
      font-size: 48px;
      font-family: Inter, Arial, sans-serif;
      line-height: 60px;
      font-weight: 400;
      color: #2C384A;
      padding: 8px 0;
    }
    &__div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: -25px 0;
      border-bottom:1.33px solid #E1E4E6;
      border-top:1.33px solid #E1E4E6;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__p {
        color: #4B5665;
        font-size: 14px;
        font-weight: 400;
        font-family: Inter, Arial, sans-serif;
        line-height: 20px;
        margin-right: 15px;
        span {
          margin: auto 8px auto 0;
          vertical-align: middle;
        }
        &__icon {
          font-size: 14px;
          text-align: center;
        }
        &__last_icon {
          font-size: 16px;
          margin-left: 8px;
        }
      }
    }
    &__button {
       ul {
         list-style: none;
         padding: 0;
         margin: 40px 0;
         display: flex;
         justify-content: flex-start;
         align-items: center;
       }

       li {
         display: inline-block;
         background: #FFFFFF;
         color: #727D87;
         font-size: 13px;
         font-weight: 400;
         line-height: 20px;
         padding: 8px 20px 8px 8px;
         border-radius: 12px;
         margin-right: 25px;
         letter-spacing: .5px;
       }
    }
    &__arrow {
       ul {
         list-style: none;
         padding: 0;
         margin: -25px 0px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
       }

       li {
         display: inline-block;
         color: #4B5665;
         font-size: 13px;
         font-weight: 400;
         line-height: 20px;
         letter-spacing: .5px;

         span {
           margin: 6px;
           font-size: 20px;
           vertical-align: middle;
           font-weight: 600;
         }
       }
    }
    &__box {
      margin-top: 80px;
    }

    &__card {
      &__div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
      h1 {
        color: #2C384A;
        font-size: 32px;
        font-weight: 400;
        line-height: 44px;
        font-family: Inter, Arial, sans-serif;
        margin-top: 20px;
      }
    }
    &__contact {
      background: #FBFCFD;
      margin: 20px 40px;
      &__headers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          color: #5C6874;
          font-size: 32px;
          font-weight: 400;
          line-height: 44px;
          font-family: Inter, Arial, sans-serif;
          width: 500px;
        }
        div {
          input {
            height: 34px;
            padding: 6px 14px;
            border-radius: 12px 0 0 12px;
            font-size: 16px;
            border: none;
            margin-top: -20px;

          }
          input:focus {
             border: none;
          }
          button {
            height: 52px;
            border-radius: 0 12px 12px 0;
            border: none;
            color: #FFFFFF;
            background: #1B88F4;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: .7px;
            text-align: center;
            padding: 0 12px;
            font-family: Inter, Arial, sans-serif;
          }
        }
      }
    }

  }


}

@media  (max-width: $breakpoint-lg-2) {
  .base-dashboard {
    &__element {
      width: 100%;
      &__h1 {
        font-size: 42px;
        line-height: 50px;
        text-align: center;
      }

      &__div {
        margin-left: 20px;
        margin-right: 20px;
      }
      &__button, &__arrow {
        margin-left: 20px;
        ul {
          flex-wrap: wrap;
          justify-content: center;
          li {
            margin-bottom: 10px;
            margin-right: 5px;
          }
        }
      }
      &__box {
        margin-right: 20px;
        margin-left: 20px;
      }
      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
      h1 {
          font-size: 24px;
          margin-left: 20px;
        }
        &__div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 20px;
        }
      }
      &__contact {
        &__headers {
          flex-wrap: wrap;
          justify-content: center;
          h1 {
            width: 100%;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media  (max-width: $breakpoint-md) {
  .base-dashboard {
    &__element {
      width: 100%;
      &__h1 {
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        padding: 10px;
      }
      &__div {
        flex-wrap: wrap;
        justify-content: center;
        div {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

@media  (max-width: $breakpoint-sm) {
  .base-dashboard {
    &__element {
      width: 100%;
      &__h1 {
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        padding: 10px 0;
      }
      &__card {
        &__div {
          grid-template-columns: repeat(1, 1fr);
        }
        h1 {
          font-size: 24px;
          margin-left: 20px;
        }
      }
      &__contact {
        &__headers {
          div {
            margin-left: -20px;
            input {
              padding: 6px 8px;
              width: 200px;
            }
            button {
              font-size: 13px;
              line-height: 18px;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}
