/* src/styles/styles.scss */

$primary-color: #FBFCFD;
$header-color: #2C384A;
$text-color: #4B5665;
$header-text: #D1D6DA;
$medium-font: 14px;
$large-font: 16px;
$medium-line-height: 20px;
$large-line-height: 22.8px;

body {
  font-family: Inter, Arial, sans-serif;
  background: $primary-color;
}

.header {
  background-color: #212731;
  color: $header-text;
  padding: 1rem;
}
.base-header {
  font-family: Inter, Arial, sans-serif;
  font-size: $medium-font;
  line-height: $medium-line-height;
  letter-spacing: 0;
  text-align: center;
  background-color: #212731;
  color: $header-text;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      position: relative;
      span {
        position: absolute;
        top: 10px;
        left: 8px;
        font-size: 20px;
        color: #626E79;
        width: 18.5px;
        height: 18.5px;

      }
    }
  }

  &__input {
    border: 1px solid #E1E4E6;
    width: 258px;
    height: 37px;
    top: 14px;
    left: 480px;
    border-radius: 8px;
    padding-left: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 80px;
  }

  a {
    text-decoration: none;
    color: $header-text;
    line-height: $medium-line-height;
    font-weight: 400;
  }
}
